<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <!-- <link rel="stylesheet" href="/css/master.css"> -->
</head>

<body>

  <div class="Header">
    <h1>Mystery Word</h1>
    <div>You have {{Num}} Guesses Left!</div>
  </div>

  <div>
    <div class="Guesses">
      <div>
      </div>
      {{ }}
// HTML gets inserted here for each letter?
<div>{{.}}
</div>
      {{ }}
    </div>
  </div>
  <div class="row">

    <form action='/' method='post'>

      <input class='Guess_input' type='text' name='Letter' value='' placeholder="">
      <input type='submit'>

    </form>
    <li>
      <label for='prelim'>
          <input type='checkbox' name='prelim'>{{.}}<br>
        </li>
        <form>
        </form>
    </div>

  </body>
</html>
